
# ignore all large media and dataset folders, checkpoints
market_research/*
grafana-data/*
minio-data/*
vocoder_ckpt/*
tech/**
!tech/**/*.dvc

# ignore python cache
__pycache__/
*.py[cod]

# ignore environment folders
.venv/

# ignore logs and temp files
*.log
*.tmp

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
